# Crash Course on Python

## Numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

## Arithmetic Operators

| Operator | Function |
|:--------:|:--------:|
| + | Addition |
| - | Subtraction | 
| * | Multiplication |
| / | Division |

Note that in Python 2 the "/" provides "classic division" which may not be what you're expecting

### Some Examples

In [14]:
# simple addition

1 + 1

2

In [15]:
# multiplication

2 * 2

4

In [16]:
# pay attention to what happens here when we divide two integers

3 / 2

1

In [17]:
# we can avoid this "classic" division, by aking sure that one of the numbers is a floating point number

3.0 / 2

1.5

In [18]:
# it doesn't matter which we use

3 / 2.0

1.5

In [19]:
# or, we can "cast" one of the integers to be a floating point number

float(3) / 2

1.5

### Some other examples

In [20]:
# Raising a number to a power

2**3

8

### Order of Operations

Like all programming languages, expressions are evaluated by using a precedence of operations

| Operator | Function |
|:--------:|:--------:|
| + | Addition |
| - | Subtraction | 
| * | Multiplication |
| / | Division |

## Variables

We can store results by assigning a label, or a variable name, to our results as we move along. For example, let's say that we want to store the value "10" using a variable named "a". 

Python does this as so:

In [21]:
a = 10

In [22]:
a

10

In terms of creating variable names, there are some rules on waht's allowable:

    1. Names can not start with a number.
    2. There can be no spaces in the name
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+


Using variable names can be a very useful way to keep track of different variables in Python. For example:

    1. It's considered best practice that the names are lowercase.
    2. Also, if you need to create a long name, maybe comprised of several words string together, Python best practice is to connect these words using underscores. e.g. this_is_johns_variable

In [26]:
my_income = 2e8
tax_rate = 0.30

In [27]:
my_taxes = my_income * tax_rate

In [28]:
my_taxes

60000000.0

## Strings

* Double quotes or single quotes
* Index from 0
* Slicing
* Does not include the right index "up to but not including"
* Include everything
* Negative indexing
* frequency / step size / reversing a sting using a -1 step size

### String Properties
Strings are immutable, i.e. once they are created, they can't be changed or replaced.
Concatenation using + 
Duplication using *

### String methods
Actions on the objects themselves

In [31]:
len('Hello world!')

12

In [32]:
s = 'Hello world'

In [44]:
s[::-1]

'dlrow olleH'

In [49]:
s + ' there'

'Hello world there'

In [50]:
s*2

'Hello worldHello world'

In [54]:
s = 'hello'

In [59]:
s.upper()

'HELLO'

In [56]:
s.capitalize()

'Hello'

In [57]:
s.find('l')

2

In [62]:
s.split('e')

['h', 'llo']

## Lists

In [63]:
my_list = [1,2,3]

In [64]:
my_list

[1, 2, 3]

In [65]:
my_list = ['string', 23, 1.234, '0']

In [67]:
len(my_list)

4

## Index and Slicing

* Works just like strings
* can do list concatenation

* no fixed sizes in list
* no type constraints on contents

## Methods

In [68]:
l = [1,2,3]

In [69]:
l.append('append me')

In [70]:
l

[1, 2, 3, 'append me']

In [71]:
l.pop()

'append me'

In [72]:
l

[1, 2, 3]

In [73]:
l.pop(0)

1

In [74]:
l

[2, 3]

In [75]:
x = l.pop(0)

In [76]:
x

2

In [77]:
l

[3]

In [78]:
l[99]

IndexError: list index out of range

In [79]:
new_list = ['a', 'e', 'x', 'b', 'c']

In [80]:
new_list

['a', 'e', 'x', 'b', 'c']

In [81]:
new_list.reverse()

In [82]:
new_list

['c', 'b', 'x', 'e', 'a']

In [83]:
new_list.sort()

In [84]:
new_list

['a', 'b', 'c', 'e', 'x']

In [85]:
l_1 = [1,2,3]
l_2 = [4,5,6]
l_3 = [7,8,9]

In [86]:
matrix = [l_1, l_2, l_3]

In [87]:
matrix # nested data structures

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [88]:
matrix[0]

[1, 2, 3]

In [92]:
matrix[1][2]

6

## List Comprehensions

In [93]:
first_column = [row[0] for row in matrix]

In [94]:
first_column

[1, 4, 7]

# Dictionaries

A dictionary is basically a mapping between objects. What we've seen so far are sequences, objects where we can index them based on their position. keys must be unique

In [95]:
my_dict = {'key1': 'value', 'key2': 'value2'}

In [96]:
my_dict

{'key1': 'value', 'key2': 'value2'}

In [97]:
my_dict[0]

KeyError: 0

In [98]:
my_dict['key1']

'value'

In [99]:
my_dict = {'key1': 'value', 'key2': 123, 'key3': [1,2,3]}

In [100]:
my_dict['key1']

'value'

In [101]:
my_dict['key3']

[1, 2, 3]

In [102]:
my_dict['key3'].pop()

3

In [105]:
my_dict

{'key1': 'value', 'key2': 123, 'key3': [1, 2]}

In [104]:
my_dict['key1'].upper()

'VALUE'

In [106]:
my_dict

{'key1': 'value', 'key2': 123, 'key3': [1, 2]}

In [107]:
my_dict['key2'] *= 2

In [108]:
my_dict

{'key1': 'value', 'key2': 246, 'key3': [1, 2]}

In [109]:
d = {}
d

{}

In [110]:
d['animal'] = 'Dog'
d['answer'] = 42

In [111]:
d

{'animal': 'Dog', 'answer': 42}

In [112]:
d = {'k1': {'nestKey': {'subnest': 'value'}}}

In [113]:
d

{'k1': {'nestKey': {'subnest': 'value'}}}

In [116]:
d['k1']

{'nestKey': {'subnest': 'value'}}

In [118]:
d['k1']['nestKey']['subnest'].upper()

'VALUE'

In [119]:
d = {}

In [120]:
d['k1'] = 1
d['k2'] = 2
d['k3'] = 3

In [121]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [125]:
d.keys()       # note the order. Dictionaries do not guarantee any order

['k3', 'k2', 'k1']

In [126]:
d.values()

[3, 2, 1]

In [129]:
d.items()       # this returns tuples of all of the dictionary key-value pairs

[('k3', 3), ('k2', 2), ('k1', 1)]

# Tuples
Similar to lists but immutable

In [130]:
t = (1,2,3)

In [131]:
t

(1, 2, 3)

In [133]:
len(t)

3

In [134]:
t[1]

2

In [135]:
t = ('one', 2)

In [136]:
t[0]

'one'

In [137]:
t[1]

2

In [138]:
t[-1]

2

In [142]:
t.index('one')

0

In [143]:
t.count('one')

1

In [144]:
t = (1,1,2,3)

In [145]:
t.count(1)

2

Tuples are immutable

In [146]:
l = [1,2,3]

In [147]:
l

[1, 2, 3]

In [148]:
t = (1,2,3)

In [149]:
l[0] = 'string'

In [150]:
l

['string', 2, 3]

In [151]:
t[0] = 'string'

TypeError: 'tuple' object does not support item assignment

# Files

Python uses a file object to interact with the files on your disk drive

In [152]:
ls

Input and Output.ipynb	Jupyter Notebooks.ipynb  Untitled.ipynb

In [153]:
ls

Input and Output.ipynb	Jupyter Notebooks.ipynb  Untitled.ipynb  test.txt

In [154]:
file = open('test.txt')

In [156]:
file.read()

'This is a line of text to play with.\n'

In [157]:
file.read()

''

In [158]:
file.seek(0)

In [159]:
file.read()

'This is a line of text to play with.\n'

In [160]:
file.seek(0)

In [162]:
file.readlines()     # stores list entirely in memory. Could be problematic

['This is a line of text to play with.\n']

In [163]:
%%writefile new.txt
First line
Second line

Writing new.txt

In [164]:
for line in open('new.txt'): 
    print line

First line

Second line

# Sets and Booleans

## Sets

An unordered collection of *unique* objects

In [165]:
x = set()

In [166]:
x.add(1)

In [167]:
x

{1}

In [168]:
x.add(2)

In [169]:
x

{1, 2}

In [170]:
x.add(1)

In [171]:
x

{1, 2}

In [172]:
# can use the set function to cast a list into a subset of unique elements
l = [1,1,1,2,2,2,2,2,3,3,3,3]

In [173]:
l

[1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3]

In [174]:
set(l)

{1, 2, 3}

# Booleans

True / False / None

In [175]:
a= True

In [176]:
# can be created as the results on conditional operators

In [179]:
b= None   # essentially a place holder

In [178]:
b